/*Add CSS styles here*/
#map {    
    height: 550px;    
    width: 95%;
    margin: 0 auto; 
    }

.leaflet-popup-content {
    background: #87cefa; 
    color: white;  
    border-radius: 1px;
    font-size: 14px;
    line-height: 20px;
    opacity: 1
}

.leaflet-popup-content-wrapper{
    background: #87cefa;
    border-radius: 5px;
    opacity: 1
}

.leaflet-popup-tip{
    background: #87cefa;
    opacity: 1
}

.sequence-control-container {  
    width: 320px;  
    height: 20px;  
    background-color: whitesmoke;
    padding: 18px;  
    line-height: 45px;  
    text-align: center;  
    border: solid darkgray 1px;  
    margin-bottom: 40px !important;

    /* Making the layout prettier/more spread out/centered: */
    display: flex; 
    align-items: center;
    justify-content: space-between;
}  

.range-slider {  
    width: 250px;  
}  

.step {  
    width: 40px;  
}  

.step img {  
    width: 100%;  
    height: auto;  
} 

.legend-control-container {
    width: auto;  
    height: auto;  
    background-color: whitesmoke;  
    padding: 10px;  
    line-height: 10px;  
    text-align: center;  
    border: solid darkgrey 1px;  
}

.chart{
    max-width: 600px;
    height: 400px;
    padding: 50px;
    margin: 40px auto;
}

#myChart{
    width: 100% !important;
    height: 100% !important;
}

.chart .chart_types{
    text-align: center;
    margin-bottom: 30px;
}

.chart .chart_types button{
    padding: 10px 25px;
}

#initialContent{
    margin: auto;
    text-align: center;
}

#footerText{
    width: 75%;
    text-align: center;
    margin: 0 auto;
}

#infoParagraphs{
    width: 95%;
    margin: 0 auto;
}
