/*Add CSS styles here*/
#map {    
    height: 500px;    
    width: 95%;
    margin: 0 auto;
    }

.leaflet-popup-content {
    background: #4e9fe5; 
    color: white;  
    border-radius: 1px;
    font-size: 14px;
    line-height: 28px;
    opacity: 1
}

.leaflet-popup-content-wrapper{
    background: #4e9fe5;
    border-radius: 5px;
    opacity: 1
}

.leaflet-popup-tip{
    background: #4e9fe5;
    opacity: 0.9
}

/* #panel {  
    width: 30%;  
    padding: 20px;  
    display: inline-block;  
    vertical-align: top;  
    text-align: center;  
    line-height: 42px;  
} */

.range-slider {  
    width: 50%;  
    margin-bottom: 10px;
}  

.step {  
    width: 48%;  
    height: 32px;
}  

.step img {  
    height: 36px;
    width: auto;  
}  

#forward {
    float: right;
}
    
#reverse {  
    float: left;  
}