/*Add CSS styles here*/
#map {    
    height: 500px;    
    width: 80%;
    display: inline-block;
    }

.leaflet-popup-content {
    background: #69E2FF; 
    color: white;  
    -webkit-text-stroke-width: 1px;  
    -webkit-text-stroke-color: #303234;
    border-radius: 1px;
    font-size: 14px;
    line-height: 28px;
    opacity: 1
}

.leaflet-popup-content-wrapper{
    background: #69E2FF;
    border-radius: 5px;
    opacity: 1
}

.leaflet-popup-tip{
    background: #69E2FF;
    opacity: 0.9
}

#panel {  
    width: 30%;  
    padding: 20px;  
    display: inline-block;  
    vertical-align: top;  
    text-align: center;  
    line-height: 42px;  
}

.range-slider {  
    width: 55%;  
}  

.step {  
    width: 20%;  
}  

.step img {  
    width: 100%;  
}  

#forward {
    float: right;
}
    
#reverse {  
    float: left;  
}