/*Add CSS styles here*/
#map {    
    height: 500px;    
    width: 95%;
    margin: 0 auto; 
    }

.leaflet-popup-content {
    background: #335ef9; 
    color: #55524f;  
    border-radius: 1px;
    font-size: 14px;
    line-height: 20px;
    opacity: 1
}

.leaflet-popup-content-wrapper{
    background: #335ef9;
    border-radius: 5px;
    opacity: 1
}

.leaflet-popup-tip{
    background:#335ef9;
    opacity: 1
}

.sequence-control-container {  
    width: 350px;  
    height: 30px;  
    background-color: #335ef9;  
    padding: 10px;  
    line-height: 45px;  
    text-align: center;  
    border: solid white 1px;  

    /* Making the layout prettier/more spread out/centered: */
    display: flex; 
    align-items: center;
    justify-content: space-between;
}  

.range-slider {  
    width: 250px;  
}  

.step {  
    width: 40px;  
}  

.step img {  
    width: 100%;  
    height: auto;  
} 

.legend-control-container {
    width: 200px;  
    height: 30px;  
    background-color: #335ef9;  
    padding: 10px;  
    line-height: 45px;  
    text-align: center;  
    border: solid white 1px;  
}